<footer class="bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-y-16 sm:grid-cols-2 sm:gap-x-12">
            <div>
                <h2 class="text-base font-semibold text-indigo-600">About Euphoria</h2>
                <p class="mt-2 text-lg text-gray-400">Euphoria is a customizable theme built for the Pterodactyl panel, utilizing the Blueprint Framework to enhance your server management experience.</p>
                <p class="mt-6 text-lg text-gray-400">Join us on Discord to connect with our community and stay updated on new features and releases!</p>
            </div>
            <div>
                <h2 class="text-base font-semibold text-indigo-600">Quick Links</h2>
                <ul role="list" class="mt-6 space-y-4">
                    <li>
                        <a href="/documentation" class="text-base text-gray-300 hover:text-indigo-500">API Documentation</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/Cus2zP4pPH" target="_blank" class="text-base text-gray-300 hover:text-indigo-500">Support</a>
                    </li>
                    <li>
                        <a href="https://www.sourcexchange.net/products/euphoriatheme" target="_blank" class="text-base text-gray-300 hover:text-indigo-500">SourceXchange</a>
                    </li>
                    <li>
                        <a href="https://builtbybit.com/resources/euphoria.52856/" target="_blank" class="text-base text-gray-300 hover:text-indigo-500">BuiltByBit</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-16 border-t border-gray-700 pt-6">
            <p class="text-center text-base text-gray-400">© 2024 Euphoria. All rights reserved.</p>
            <div class="flex justify-center space-x-4 mt-4">
                <a href="https://www.youtube.com/@RepGraphics" target="_blank" class="text-gray-400 hover:text-indigo-500"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://discord.gg/Cus2zP4pPH" target="_blank" class="text-gray-400 hover:text-indigo-500"><i class="fa-brands fa-discord"></i></a>
                <a href="https://github.com/RepGraphics/blueprint-euphoria-theme" target="_blank" class="text-gray-400 hover:text-indigo-500"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>
